h2{
    height:30px;
    font: bold 11px tahoma;
    display: block;
    position:relative;
    padding:5px;
}


h3{
    font: bold 15px calibri;
}

#apparticle{
    float:left;
    margin:10px 0px 20px 0px;
    width:450px;
    text-align:justify;
}

#Appcontactinfo{
text-align:center;
font: bold 15px calibri;
}

#subbutton{
    background-color:#2C5463;
    font:bold 15px calibri;
    color:HighlightText;
    float:none;
}

#main_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #333;
}