#slide1_container {
	width:950px;
	height:281px;
	overflow:hidden;
	position:relative;
}

#slide1_controls span {
	padding-right:2em;
	cursor:pointer;
	float: left;
	background: red;
}

@-webkit-keyframes slideshow1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideshow1 {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#banner img {
    width: 800px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: slideshow1 5s ease-in-out infinite;
    -moz-animation: slideshow1 5s ease-in-out infinite;
    animation: slideshow1 5s ease-in-out infinite;
}

#banner img:nth-of-type(1) {
        -webkit-animation-delay: 0s;
         -moz-animation-delay: 0s;
        z-index: 4;
}

#banner img:nth-of-type(2) {
        -webkit-animation-delay: 10s;
         -moz-animation-delay: 10s;
        z-index: 3;
}

#banner img:nth-of-type(3) {
        -webkit-animation-delay: 20s;
         -moz-animation-delay: 20s;
        z-index: 2;
}

#banner img:nth-of-type(4) {
         -webkit-animation-delay: 30s;
        -moz-animation-delay: 30s;
        z-index: 1;
}